[Unit]
Description=Minecraft Server
Documentation=

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Nice=5
KillMode=none
SuccessExitStatus=0 1

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found
ReadWriteDirectories={{minecraft_home}}
WorkingDirectory={{minecraft_home}}
ExecStart={{minecraft_home}}/start_minecraft.sh
ExecStop={{minecraft_home}}/stop_minecraft.sh

[Install]
WantedBy=multi-user.target
